{% extends 'base.html' %}

{% block content %}
  <!-- Icon Cards-->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="section">
          <h2>CNF Information</h2>
          <div class="contact-row">
            <div class="contact-label">CNF Information</div>
            <div class="contact-value">{{shipment.cnf_information}}</div>
          </div>
          <div class="contact-row">
            <div class="contact-label">CNF No </div>
            <div class="contact-value">{{shipment.cnf_no}}</div>
          </div>
          
          <div class="contact-row">
            <div class="contact-label">Contact Person</div>
            <div class="contact-value">{{shipment.contact_person}}</div>
          </div>
        </div>
        
            <h2>Contact Information</h2>
            <div class="contact-row">
              <div class="contact-label">Email:</div>
              <div class="contact-value">{{shipment.email}}</div>
            </div>
            <div class="contact-row">
              <div class="contact-label">Phone:</div>
              <div class="contact-value">{{shipment.phone}}</div>
            </div>
            <div class="contact-row">
                <div class="contact-label">Best Time to Call:</div>
                <div class="contact-value">{{shipment.best_time_to_call}}</div>
            </div>
        </div>
    </div>
</div>

  <a href="{% url 'shipment_list' %}" class="btn btn-info">Back to List</a>
{% endblock %}
